<div class="book-page-container">
  <!-- Top Bar -->
  <div class="top-bar">
    <!-- Search with Autocomplete -->
    <mat-form-field appearance="outline" class="search-field">
      <mat-icon matPrefix>search</mat-icon>
      <input
        type="text"
        placeholder="Search books..."
        aria-label="Search books"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectBook($event.option.value)">
        @for(book of filteredBooks|async;track $index){
        <mat-option [value]="book.title" >
       <app-books [book]="book" view="list"></app-books>
        </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="book-grid">
    <app-book-grid [books]="selectedBooks"></app-book-grid>
  </div>
</div>
