<div class="book-page-container">
  <!-- Top Bar -->
  <div class="top-bar">
    <!-- Search with Autocomplete -->
    <mat-form-field appearance="outline" class="search-field">
      <mat-icon matPrefix>search</mat-icon>
      <input
        type="text"
        placeholder="Search books..."
        aria-label="Search books"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectBook($event.option.value)">
        <mat-option *ngFor="let book of filteredBooks | async" [value]="book.title">
          <div class="option-item">
            <img [src]="book.cover" alt="cover" class="option-cover" />
            <div>
              <div class="option-title">{{ book.title }}</div>
              <div class="option-author">{{ book.author }}</div>
            </div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </div>
  <div class="book-grid">
    <app-book-grid></app-book-grid>
  </div>


</div>
